#header::after {
	content: '';
	display: block;
	clear: both;  
}
.brand {
	font-size: 24px;
	text-align: center;
}	

.gnb {
	float: right;
}

.gnb > li {
	list-style: none; /* li 앞의 점 없애줌. */
	margin-left: 15px; /* li 요소들 간격 주기. */
	float: left;
	
}
.gnb > li > a {
	text-decoration: none;
	color: #181818;
} 
#main img{
    width: 122px;
    height: 122px;
}
#mypage .brand .gnb{
	font-weight: bold;
	color: white;
}